* {
    margin:0;
    padding:0;
}
#debug {
    font-family:Consolas, monospace;
    font-size:0.75em;
    background-color:#99bbdd;
}
#debugStatusBar {
    font-family:Consolas, monospace;
    font-size:0.75em;
    background-color:#9CC;
    border-bottom:1px dotted #666;
}
canvas {
    background-color:#fff;
    margin:1px;
}
body {
    background-color:#eee;
}

#react-mount-point {
	/*display: none;*/
}

.square {
    float: left;
	list-style-type: none;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.square:hover {
    border-color: lightblue;
}

.square.empty {
    background-color: lightgray;
}
.square.wall {
    background-color: gray;
}
.square.ends {
    background-color: lightblue;
}
.square.path {
    /*background-color: red;*/
}

.row {
	clear: left;
}

.final {
    border-color: black;
}

.interface {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: lightblue;
    margin-bottom: 20px;
}
.interface button {
    height: 60px;
    padding: 20px;
    line-height: 0;
    margin: -1px 20px 0 0;
    -webkit-appearance: none;
    background: none;
    border: none;
}
.interface button:hover {
    background: white;
    cursor: pointer;
}
