* {
    margin:0;
    padding:0;
}
#debug {
    font-family:Consolas, monospace;
    font-size:0.75em;
    background-color:#99bbdd;
}
#debugStatusBar {
    font-family:Consolas, monospace;
    font-size:0.75em;
    background-color:#9CC;
    border-bottom:1px dotted #666;
}
canvas {
    background-color:#fff;
    margin:1px;
}
body {
    background-color:#eee;
}

#react-mount-point {
	display: none;
}